/* Topbar */
.search-box input {
  border: 1px solid var(--stroke-color) !important;
  background-color: var(--light-color);
}

.search-box button {
  background-color: var(--light-color);
  border-color: var(--stroke-color) !important;
  border-left: 0 !important;
}

.header .topbar-icon-group a {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.header .topbar-icon-group a:hover {
  color: var(--black);
  opacity: 90%;
}

.header .topbar-icon-group i {
  font-size: 2rem;
}

.header .floating-num {
  position: absolute;
  top: -1rem;
  right: -1rem;
  padding: 0.5rem;
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  color: var(--white);
  background: var(--brand-color);
}

/* Menubar */
.header .menubar {
  background-color: var(--brand-color);
}

.header .menubar .menu li {
  display: inline-block;
  text-transform: capitalize;
  font-family: var(--font-inter);
  border-right: 1px solid var(--white);
}

.header .menubar .menu li a {
  display: block;
  color: var(--white);
  padding: 2rem 3rem;
}

.header .menubar .menu li a:hover {
  color: var(--stroke-color);
}

.header .menubar .menubar-left li:first-child a {
  padding-left: 0;
}
