:root {
  /* colors */
  --brand-color: #972d04;
  --brand-color-light: #972d041a;
  --orange-color: #f84b00;
  --pink-color: #e20b8c;
  --rating-color: #ff7c02;
  --text-color: #666666;
  --text-color-dark: #313131;
  --light-color: #f5f5f5;
  --stroke-color: #bcbcbc;
  --stroke-color-light: #ececec;
  --white: #ffffff;
  --black: #000000;

  /* font */
  --font-poppins: "Poppins", sans-serif;
  --font-inter: "Inter", sans-serif;
}
